*{
	font-family: 'Open Sans';
}

#main_title{
	color: red;
	text-align: center;
	font-size: 30pt;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic
}

#username_title{
	color: red;
	font-style: bold;
	border: 1px solid black;
	outline-color: green;
	outline-style:double;
	display:inline;
	margin: 3px;
}

#titolo_chat{
	display:inline;
	text-align: center;
	margin: 10px;
}

p{
	display: inline
}

.chatter{
	width: 400px;
	height: 500px;
	border: 2px solid #ddd;
}

#messagesBox{
	height:460px ;	
	border-bottom: 1px solid #ddd;
	overflow-y: scroll;
	text-align: right;
	padding: 5px;
}

#sendingBox{
	width: 100%;
	margin: 5px;	
}

#inputBox{
	text-align:left;
	width: 85%;
}

#sendButton{

}

#mex{
	font-size:7pt;
	font: italic;
	color: red;
}
